.odonto-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 200px;
}

.fade .modal-backdrop .show{
  background-color: transparent !important; ;
}

.rn-default-tab .tab-button .react-tabs__tab.react-tabs__tab--selected {
  background: #7c4d93 !important;
}

.form-group input {
 border: var(--border-width) solid hsl(280.29deg 31.25% 43.92% / 45%) !important;
}

.rn-address {
  background: #7c4d93 !important;
}

.form-group textarea {
 border: var(--border-width) solid hsl(280.29deg 31.25% 43.92% / 45%) !important;
}

.rn-default-tab .rn-tab-content {
  background: #7c4d93 !important;
}

.rn-default-tab .rn-tab-content p {
  color: white !important;
}

p.description.b1.color-gray.mb--0 {
  color: white !important;
}

.service.service__style--1{
  background-color: #7c4d93 !important;
}

#nav{
  display: none !important;
}

.popup-mobile-menu .inner {
  background-color: #7c4d93 !important;
}

.popup-mobile-menu.active a {
  color: white !important;
}

.popup-mobile-menu .inner .header-top .close-menu .close-button {
  background-color: transparent !important;
}

.overlay {
  display: none;
}

.map-container {
  position: relative;
  padding-bottom: 85%;
  height: 0;
  overflow: hidden;
  width: 120%;
}
#headercolor{
  background-color: #9e090900 !important;
}


#cardcontato{
padding-bottom: 30px;
}

.containerDesc p{
  color: #393939;
}

.map-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

// @media(max-width: 1440px) {
//   .team-info {
//     display: none;
//   }
// }

@media (max-width: 1540px) {
  .map-container {
    padding-bottom: 85%;
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .title-span {
    top: 1px !important;
  }
}

@media(max-width: 1024px) {
  .odonto-header {
    margin-right: 100px;
  }
}

@media(max-width: 991px) {
  #nav{
    display: flex !important;
  }
  .odonto-header {
    margin-right: 10px;
  }
  .header-top-bar{
    display: none;
  }

  .header-transparent-with-topbar {
    background-color: transparent !important;
    position: absolute !important;  
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
    z-index: 99 !important;
  }
}

@media(max-width: 767px) {
  #logomobile{
    position: fixed !important;
    
  }
}


@media (max-width: 763px) {
  .slider-area.slider-style-2.height-950.bg_image {
    background-size: cover;
    background-position-x: -200px;
  }

}

@media (max-width: 1000px) {
  .slider-area.slider-style-2.height-950.bg_image {
    background-size: cover;
    background-position-x: -50px;
  }

}


@media (max-width: 762px) {
  .slider-area.slider-style-2.height-950.bg_image {
    background-size: cover;
    background-position-x: -180px;
  }

  .title-span {
    top: -12px !important;
  }
}

@media (max-width: 767px) {
  .title-span {
    top: -1px !important;
  }

  .overlay {
    display: block;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: 99999999999;
  }

  .wolcoff-title {
    font-size: 2em !important;
  }

  .odonto-header {
    margin-right: -50px;
  }
}

#cardone{
  padding-bottom: 82.5px;
}

#cardfinal {
  padding-bottom: 56px;
}

@media (max-width: 407px) {
  #titlewolcoff {
    font-size: 35px;
  }
}

@media (max-width: 280px) {
  #titlewolcoff {
    font-size: 25px;
  }
}

@media (max-width: 670px) {
  .odonto-header {
    margin-right: 30px;
  }
}

@media (max-width: 460px) {
  #nav p{
    font-size: 14px;
  }
}

@media (max-width: 377px) {
  #nav p{
    font-size: 11px;
  }
}

@media (max-width: 340px) {
  #nav p{
    font-size: 9px;
  }
}